.modal-image {
    .form-container {
        .ant-form {
            .ant-form-item {
                .ant-row {
                    .ant-col {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .ant-modal-footer {
        display: flex;
        justify-content: center;
    }
}
