.changepassword-container {
    .ant-form {
        .submit-btn {
            background-color: var(--primary-color);
        }
        .ant-form-item-required {
            font-size: 1.6rem;
        }
        .ant-form-item-label {
            margin-right: 3.4rem;
            
        }
        .ant-col {
            overflow: visible;
            .ant-form-item-required{
                text-align: right;
            }
        }
    }
}
@media only screen and (max-width: 768px) and (min-width: 340px) {
    .changepassword-container{
        .ant-form {
            .ant-row {
                display: block;
                input {
                    width: 150% !important;
                }
                .ant-form-item-explain-error {
                    width: 150% !important;
                }
                .ant-col {
                    overflow: visible;
                    text-align: left;
                }
            }
        }
    }
}
@media only screen and (max-width: 339px)  {
    .changepassword-container{
        .ant-form {
            .ant-row {
                .ant-form-item-label {
                    display: flex;
                    justify-content: center;
                }
                .ant-col {
                    overflow: visible;
                    text-align: left;
                    .ant-form-item-control-input-content, .ant-form-item-explain {
                        display: flex;
                        justify-content: center;
                    }
                    .ant-input-password {
                        width: 70% !important;
                    }
                }
            }
        }
    }
}
